.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
glyphwitch/2024-07-24-13-25-44.091-VBoxSVC-1916208.log
glyphwitch/2024-07-24-13-25-45.094-VBoxHeadless-1916964.log
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.meteor/local
node_modules