body {
  padding: 10px;
  font-family: sans-serif;
}

.navbar{
  margin:0;
  padding:0;
}

.nav-link {
  text-decoration: none;
  color: green;
}
.nav-link a:hover {
  text-decoration: underline;
}
.page-element {
  /* hover using tight dotted border */
  z-index: 10;
  border: 1px dotted #000;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: green !important;
}

.line-element{
  /*light green transparent box with a light green border*/
  background-color: rgba(0, 255, 0, 0.1);
}

.file-tree {
  list-style-type: none;
  padding-left: 0;
}

.file-tree li {
  /* no bullets */
  list-style-type: none;
}

.file-tree a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

/* file tree icons should be blue */
.file-tree i {
  color: green;
  margin-right: 10px;
}

.file-tree a:hover {
  text-decoration: underline;
}

.file-tree .collapse {
  padding-left: 0px;
}

.file-tree .fa-caret-right {
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.file-tree .collapse.show .fa-caret-right {
  transform: rotate(90deg);
}

.pagesel {
  position: relative;
  border: 1px solid gray;
}

.pagesel img {
  display: block;
  width: 100%;
  height: auto;
}

.page-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pagesel:hover .page-controls {
  opacity: 1;
}

.page-controls .btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#HelpBox {
  transition: all 0.3s ease;
  overflow: hidden;
  height: auto;
  max-width: 50%;
  max-height: none;
}

#HelpBox.helpbox-hidden {
  max-height: 50px; /* Just enough to show the header and toggle button */
}

#HelpBox.helpbox-hidden .helpbox-content {
  display: none;
}

#toggleHelpBox {
  background: none;
  border: none;
  color: #007bff;
  padding: 0;
  font-size: 1rem;
}

#toggleHelpBox:hover {
  color: #0056b3;
}